html {
  box-sizing: border-box;
}

*, *::before, *::after; {
  box-sizing: borderbox;
}

body{
  margin: 0;
}

.container {
  max-width: 60rem;
  margin: auto;
}

.navbar {
  display: block;
  background: teal;
  overflow:auto;
  color: white;

}

.navbar_title {
  float: left;
  padding: 2rem;
}

.navbar_people {
  float: right;
  padding: 2rem;
}

.navbar_repos {
  float: right;
  padding: 2rem;
}

.profile_popularusers {
  background: yellow;
  width: 20rem;
  height: 20rem;
}

.profile_user {
  overflow:auto;
}

.post__author-photo {
  height: 5em;
  float: left;
  padding: 2rem;
}

.human_name {
  color: black;
  display: inline block;
  padding-top: 3rem;
}

.user_name {
  color: gray;
  margin: -.5rem;
}

.code_repositories {
  background: red;
}

.code_repo {
  background: pink;
  overflow: auto;
}

.codereporight {
  float: right;
}

.coderepoleft {
  float: left;
}

.dot {
  display: inline-block;
  background: blue;
  width: 1em;
  height: 1em;
  border-radius: 50%;
}
