
body{
  margin: 0;
  font-family: sans-serif;
}

* {
  box-sizing: borderbox;
}

.container {
  max-width: 60rem;
  margin: auto;
  padding: 1rem;
  margin: 1em;
  display: inline-block;
  width: calc(100% / 3 - 1rem - 1rem);
}

.navbar {
  display: block;
  background: teal;
  color: white;
  overflow:auto;
}

.navbar_title {
  float: left;
  padding-top: .5rem;
  padding-left: .5rem;
}

.navbar_people {
  float: right;
  padding-top: .5rem;
  padding-right: .5rem;
  padding-left: .5rem;
}

.navbar_repos {
  float: right;
  padding-top: .5rem;
  padding-right: .5rem;
}

.profile_popularusers {
  background: yellow;
  border: 1em solid purple;
  width: 20rem;
  height: 20rem;
  float: left;
}

.profile_user {
  overflow:auto;
}

.post__author-photo {
  height: 5em;
  float: left;
  padding: 2rem;
}

.human_name {
  color: black;
  display: inline block;
  padding-top: 3rem;
}

.user_name {
  color: gray;
  margin: -.5rem;
}

.code_repositories {
  background: red;
}

.code_repo {
  background: pink;
  overflow: auto;
}

.codereporight {
  float: right;
}

.coderepoleft {
  float: left;
}

.dot {
  display: inline-block;
  background: blue;
  width: 1em;
  height: 1em;
  border-radius: 50%;
}
